<div class="navbar" style= "padding-bottom: 0; position: fixed; width:43%; top:0; z-index: 99;  background-color: white;">
    <div class="container-fluid">
      <form class="d-flex w-100 p-2 justify-content-center">
        <input
          class="form-control me-2 rounded-pill bg-light"
          style="height: 40px; width: 90%"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
      </form> 
    </div>
    <nav class="nav nav-pills flex-column flex-sm-row nav-justified w-100 " >
        <a class="flex-sm-fill text-sm-center  nav-link navcolor"  href="#">Top</a>
        <a class="flex-sm-fill text-sm-center nav-link navcolor" href="#">Latest</a>
        <a class="flex-sm-fill text-sm-center nav-link navcolor" href="#">People</a>
        <a class="flex-sm-fill text-sm-center nav-link navcolor" href="#">Photos</a>
        <a class="flex-sm-fill text-sm-center nav-link navcolor" href="#">Videos</a>

    </nav>
    
</div>
