body {
  background-color: white;
}

main {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
}
.blog_section {
width:44%;
  /* padding: 5px; */
  /* padding-left: 20px; */
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  /* margin-left: 24%; */
  /* background-color: red; */
  margin-top: 0;
  padding-top: 0;
  margin-right: 8%;
  margin-left:0;
  padding-left: 30px;
  /* background-color:blue; */
}
.ist_sidebar {
  /* background-color: azure; */
  /* flex-grow: 0.1; */
  /* padding: 5px; */
  padding-left: 10px;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 24%;
  /* background-color: red; */
}
.sidebar {
  /* background-color: azure; */
  /* flex-grow: 1.8; */
  /* padding:5px; */
  padding-left: 5px;
  position: fixed;
  right: 0;
  height: 100vh;
  width: 32%;
  /* background-color: red; */
}
.extract {
  width: 500px;
  color:black;
}
.extract>p{
  color: black;
}
.readmore {
  font-style: italic;
  color: blue;
}
.edit_delete{
    display: flex;
    align-items: center;
}
.edit_delete > button{
    margin-right: 5px;
}

a{
    text-decoration: none;
}
.myinput{
  border:none
}

.myinput:focus{
  outline: none;
  border:none;
}
.icons{
  color:#9a9faf
}
.title{
  color:#0f1419
}

h3>a:hover{
  color:#0f1419
}
.blog_section_container{
  padding:10px;
  
  width:100%;
}
.blog_section_container:hover{
  background-color: #f7f9f9;
}


.bi-heart-fill{
  color: red;
}


.navcolor{
  color: #677682;
  padding-top:20px;
  padding-bottom: 20px;
  font-weight: 600;
}
.navcolor:hover{
  background-color: #f7f9f9;
  /* background-color: #a8a8ab; */
  color: #677682;



}

.navheader{
  /* color: #a9abad; */
  padding: 10px;
  width:160px;
  margin-bottom: 2px;
  color: black;
  font-size: large;
  
}
.navheader:hover{
  background-color: #eff3f4;

}
.sidebar_nav{
/* background-color: red; */
padding-left:70px;
padding-top: 30px;
margin-top: 10px;
}
.bi_nav{
  font-size: 23px;
  margin-right: 16px;
  color:black;
}
