<%- include('../includes/head.ejs') %>

  </head>

  <body>
    <main class="post_detail_main">

      <div class="sidebar">

      </div>

      <div class="main">
     
      </div>

      <div class="second_sidebar">

      </div>



    </main>
  </body>

  </html>