<%- include('../includes/head.ejs') %>




  <form class="w-50 mt-5 p-3 mx-auto" action="/reset-password" method="POST">
    <% if(errorMessage !== null) { %>
        <div class="alert alert-danger" role="alert">
          <%= errorMessage %>
        </div>
  
      <% } %>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            required>
        </div>
       
       
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <p>We would send you a link to reset your password!</p>  
        <button type="submit" class="btn btn-primary w-100">Send Link</button>
       
  </form>








  </body>

  </html>