
<%- include('../includes/head.ejs') %>

<form class="w-50 mt-5 p-3 mx-auto" action="/set-password/" method="POST">
  
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input name="password" type="password" class="form-control" id="confirmPassword" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input name="confirmPassword" type="password" class="form-control" id="confirmPassword" required>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="userId" value="<%= userId %>" />
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />



            <button type="submit" class="btn btn-primary w-100">Reset Password</button>




</form>
</body>
</html>